<div class="container-fluid">
  <div>
    <h3>{{activity.name}}</h3>
    <dl class="dl-horizontal">
      <dt>Owner's Name</dt>
      <dd>
        <div ng-hide="editing" ng-class="{'muted':!activity.owner.name}">{{activity.owner.name || "no owner listed"}}</div>
        <div ng-show="editing"><input ng-model="activity.owner.name"></div>
      </dd>
      <dt>Owner's Phone</dt>
      <dd>
        <div ng-hide="editing" ng-class="{'muted':!activity.owner.phone}">
              {{activity.owner.phone || "no phone listed"}}
        </div> 
        <div ng-show="editing"><input ng-model="activity.owner.phone"></div>
      </dd>
      <dt>Owner's Email</dt>
      <dd>
        <div ng-hide="editing" ng-class="{'muted':!activity.owner.email}">
              {{activity.owner.email || "no email listed"}}
        </div>
        <div ng-show="editing"><input ng-model="activity.owner.email"></div>
      </dd>
    </dl>
    <table class= "table">
      <thead>
        <tr>
          <th>Time Slot</th>
          <th>Volunteer #1</th>
          <th>Volunteer #2</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tr ng-repeat= "timeSlot in activity.timeSlots">
        <td>{{timeSlot.interval}}</td>
        <td>
          <select ng-show="editing" ng-model="timeSlot.volunteers[0]" 
                  ng-options="vname as vname for (vname, vdata) in volunteers"></select>
          <div ng-hide="editing">{{timeSlot.volunteers[0]}}</div></td>
        <td>
          <select ng-show="editing" ng-model="timeSlot.volunteers[1]" 
                  ng-options="vname as vname for (vname, vdata) in volunteers"></select>
          <div ng-hide="editing">{{timeSlot.volunteers[1]}}</div></td>
        </td>
        <td>{{timeSlot.notes}}</td>
      </tr>
    </table>
    <div class="footer">
      <button class="btn btn-primary" ng-click="edit()" ng-hide="editing">Edit</button>
      <button class="btn btn-primary" ng-click="save()" ng-show="editing">Save</button>
      <a ng-hide="editing" class="btn btn-warning cancel" href="#/activities">Back to activities</a>
      <button ng-show="editing" class="btn btn-warning cancel" ng-click="cancel()">Cancel</a>
    </div>
  </div>
</div>
