<div class="container-fluid">
  <div class="alert alert-error" ng-show="loginFailed">
      Your username or password was not recognised
    <a class="close" data-dismiss="alert">×</a>
  </div>
  <div class="span2 offset2">
    <form ng-submit="login()">
      <fieldset>
      <legend>Log in</legend>
      <input type="text" ng-model="emailAddress" placeholder="email address"/>
      <input type="password" ng-model="password" placeholder="password"/>
      <input type="submit" value="Login" class="btn btn-primary"/>
      </fieldset>
    </form>
  </div>
</div>
